// Color cube
$cinder:#171520;
$delta:#b1b1b0;
$texasRose:#febc4d;
$stormDust:#6c6c6b;
$mountainMeadow:#1fad95;
$hawaianTan:#9f5d13;
$atlantas:#94ca2b;
$catalinaBlue:#08427d;

// Median cut
$shark:#22272d;
$quillGary:#e2e2e0;
$spicyMix:#825c3f;
$gunsmoke:#8a9391;
$driftwood:#b08d52;

// Material design
$pottersClay:#7f5838;
$lemonGrass:#8c8d8a;
$jungleGreen:#2fab97;
$vulcan:#141423;
$casabianca:#f8b54e;
